<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Death!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1> THE WORLDS MOST INTENSE ROSHAMBO </h1>
        <h2> Only the wise survive  </h2>
    </header>
    {% block content %}

    {% endblock %}
</body>
<footer>
    <p id="footer"> Made by Happy Happy Fun Time Studios  </p>
    <p id="disclaimer"> Happy Happy Fun Time Studios are not responsible for any injury or actual loss of life due to super intense rock - paper - scissors</p>
</footer>
</html>