{% extends 'base.html' %}

{% block content %}
    <div>
        <h1> MAKE YOUR SELECTION!</h1>
        <form action="/add_player" method="post"> STATE YOUR NAME 
        <input type="text" name='name' id='name'>
        <label for="selector"> SELECTOR OF DOOM </label>
        <select name="selector" id="selector">
            <option value="rock"> Rock </option>
            <option value="paper"> Paper </option>
            <option value="scissors"> Scissors</option>
        </select>
        <input type="submit" value="Meet your fate">
        </form>
    </div>

{% endblock %}